/*Stylos padrões*/

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor01: #8C3503;
    --cor02: #d98927;
    --cor03: #bf6a02;
    --cor04: #26471b;
    --cor05: #fff;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

/*header*/

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 10vh;
    /* position: fixed; */
    background-color: var(--cor01);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    z-index: 1000000;
}

.nav-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    height: 80%;
    gap: 0.5vw;
    cursor: pointer;
}

.nav-logo h1 {
    font-size: 1.4rem;
    color: white;
    font-family: "Raleway", sans-serif;
}

.nav-logo span {
    color: var(--cor02);
    font-family: "Raleway", sans-serif;
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 80%;
}

.nav-links ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 2vw;
}

.nav-links ul li {
    color: white;
    cursor: pointer;
    transition: 0.2s;
    font-weight: 600;
}

.nav-links ul li a {
    color: white;
    cursor: pointer;
    transition: 0.2s;
    font-weight: 600;
    text-decoration: none;
}

.nav-links ul li a:hover {
    color: var(--cor03);
}

.select a {
    color: var(--cor03) !important;
    font-weight: 600;
}

.nav-login {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    height: 80%;
    gap: 1.5vw;
}

.nav-login i {
    color: var(--cor05);
    font-size: 2.6rem;
    cursor: pointer;
    transition: 0.2s;
}

.nav-login i:hover {
    color: var(--cor03);
}

.nav-login button {
    background-color: transparent;
    color: white;
    font-size: 0.9rem;
    width: 7vw;
    height: 3.5vh;
    border: 3px solid white;
    border-radius: 0.9rem;
    cursor: pointer;
    transition: 0.2s;
    font-weight: 600;
}

.nav-login button:hover {
    background-color: var(--cor05);
    color: var(--cor01);
    border: none;
}

.divisao-nav {
    height: 10vh;
    width: 100%;
}

.main-menu {
    color: white;
    border-bottom: 3px solid #D4A373;
}

.main-container{
    flex-direction: column;
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: #F4F4F4;
    justify-content: flex-start;
    align-items: center;
}

.content-dash{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    gap: 2%;
}

.infos-text{ 
    display: flex;
    justify-content: flex-start;
    width: 50%;
    height: 100px;
    flex-direction: column;
    gap: 1vh;
    margin: 2%;
    margin-left: 6%;
}

.icon-texto{
    display: flex;
    flex-direction: row;
    gap: 10px;
    color: rgba(0, 0, 0, 0.508);
    font-weight: bold;
    font-size: 20px;
    width: 100%;
}

.text-botao{
    display: flex;
    flex-direction: row;
    gap: 2%;
}

.ativar{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.ativar button{
    height: 40px;
    width: 90px;
    font-weight: bold;
    font-size: 15px;
    border-radius: 30px;
    background-color: #fff;
    color: #8C3503;
    border: solid 1px white;
}

.box-legenda{
    display: flex;
    justify-content: center;
    flex-direction: column  ;
}

.infos-box{
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 16%;
    background-color: #ffffff;
    height: 60%;
    border-radius: 15px;
    border: solid 1px  rgba(0, 0, 0, 0.437);
    margin-top: 2%;
}

.legenda-kpi{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 5%;
    margin-right: 60%;
}


.ident-cores{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.perigo{
    display: flex;
    flex-direction: row;
    gap: 5px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.566);
}

.perigo p{
    margin-top: 10%;
}

.perigo i{
    color: red;
    font-size: 40px;
    border-radius: 50%;
}

.alerta p{
    margin-top: 10%;
}

.alerta{
    display: flex;
    flex-direction: row;
    gap: 5px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.566);
}

.alerta i{
    color: yellow;
    font-size: 40px;
    border-radius: 50%;
}

.ideal p{
    margin-top: 10%;
}

.ideal{
    display: flex;
    flex-direction: row;
    gap: 5px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.566);
}

.ideal i{
    color: #10f105;
    font-size: 40px;
    border-radius: 50%;
}

.opcoes-box{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 20%;
    gap: 10px;
}

.local{
    justify-content: start;
    align-items: center;
    background-color: #fff;
    border: solid 1px  rgba(0, 0, 0, 0.437);
    height: 30%;
    width: 70%;
    display: flex;
    flex-direction: row;
    color: rgba(0, 0, 0, 0.508);
    font-weight: bold;
    font-size: 17px;
    padding-right: 20px;
    border-radius: 12px;
}

.content-local{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.seletor-local{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
}

.local p{
    color: black;
}

.data{
    justify-content: start;
    align-items: center;
    background-color: #fff;
    border: solid 1px  rgba(0, 0, 0, 0.437);
    height: 30%;
    width: 70%;
    display: flex;
    flex-direction: row;
    color: rgba(0, 0, 0, 0.508);
    font-weight: bold;
    font-size: 15px;
    padding-right: 20px;
    border-radius: 12px;   
}

.content-data{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.data p{
    color: black;
        
}

.kpis-totais{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 15%;
    width: 93%;
    margin-left: 20px;
}

.box-kpi{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 16%;
    border-radius: 15px;
    flex-direction: row;

}

.kpi{
    display: flex;
    flex-direction: row;
}

.texto-kpi{
    display: flex;
    justify-content: center;
    color: rgba(0, 0, 0, 0.601);
    font-weight: bold;
    font-size: 17px;
    margin-top: 20px;
    margin-bottom: 20px;
    
    
}

.numero-dado{
    color: black;
    font-weight: bold;
    font-size: 35px;
}

.esquerda-kpi i{
    display: flex;
    margin-right: 30px;
    font-size: 100px;
    color: #8c350361;
    
    
}

.esquerda-kpi{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.direita-kpi{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.texto-esquerda-kpi{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1vh;
}

.texto-direita-kpi{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 1vh; 
}

.content-grafico{
    height: 100%;
}

.graficos-box {
    height: 100vh;
    width: 89%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 1%;
    gap: 20px;
}

.grafico {
    width: 47.5%;
    border-radius: 15px;
    background-color: #fff;
    flex-direction: column;
    display: flex;
    height: 75%;
    padding: 18px 20px;
}

.grafico h2{
    font-weight: 700;
    font-size: 25px;
    color: #111;
    font-weight: 700;
    margin-bottom: 15px;
}



